# Exploring a database

Let's practice on Pandas. Download the dataset `chipotle.csv` from JULIE and upload it to your workspace.

1. Import a library that allows to read data from a csv file

In [ ]:
import pandas as pd

2. Import the dataset

In [ ]:
dataset = pd.read_csv("chipotle.csv", index_col=0)

3. Look at the 10 first rows in the dataset

In [ ]:
dataset.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

4. What is the shape of the dataset ?

In [ ]:
dataset.shape

(4622, 5)

5. Display all the columns of our dataset

In [ ]:
dataset.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

6. What is the most ordered item?

     *Indication: we will use GROUP BY & Sort_values()*

In [ ]:
dataset.groupby('item_name')['quantity'].sum().sort_values(ascending=False)

item_name
Chicken Bowl                             761
Chicken Burrito                          591
Chips and Guacamole                      506
Steak Burrito                            386
Canned Soft Drink                        351
Chips                                    230
Steak Bowl                               221
Bottled Water                            211
Chips and Fresh Tomato Salsa             130
Canned Soda                              126
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Side of Chips                            110
Veggie Burrito                            97
Barbacoa Burrito                          91
Veggie Bowl                               87
Carnitas Bowl                             71
Barbacoa Bowl                             66
Carnitas Burrito                          60
Steak Soft Tacos                          56
6 Pack Soft Drink                         55
Chips and Tomatillo Red Chili Salsa       50
Chicken Crispy Tacos                      50
Chips and Tomatillo Green Chili Salsa     45
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        36
Chips and Tomatillo-Green Chili Salsa     33
Steak Salad Bowl                          31
Nantucket Nectar                          29
Chips and Tomatillo-Red Chili Salsa       25
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        23
Izze                                      20
Chips and Roasted Chili-Corn Salsa        18
Veggie Salad Bowl                         18
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Veggie Soft Tacos                          8
Carnitas Crispy Tacos                      8
Burrito                                    6
Carnitas Salad Bowl                        6
Veggie Salad                               6
Steak Salad                                4
Bowl                                       4
Salad                                      2
Crispy Tacos                               2
Chips and Mild Fresh Tomato Salsa          1
Veggie Crispy Tacos                        1
Carnitas Salad                             1
Name: quantity, dtype: int64

7. How many items were ordered from Chipotle in total?

In [ ]:
dataset['quantity'].sum()

4972

8. How much revenue has Chipotle made?
      
      A. Convert item_price to a decimal number.
        1. Look at dataset [ item_price ], what do you see?
        2. Let's find a way to get that $ out of our way. We can do that by using [str](https://bit.ly/2ClcdtN)
        3. Let's now convert the series to float instead of string
        
    B. Multiply the quantity sold by the price of the item.
    
    C. Add it all up, how much do you find?
    
    D. Round to two decimal places.
    
    We can use the [Series.round()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.round.html#pandas.Series.round) function.

In [ ]:
dataset['item_price'] = dataset['item_price'].str.replace('$','')
dataset['item_price'] = dataset['item_price'].astype('float')

In [ ]:
(dataset['item_price']*dataset['quantity']).sum().round(2)

39237.02

9. What is the average revenue per order?

In [ ]:
dataset["revenue"] = dataset["quantity"]*dataset["item_price"]
revenue_per_order = dataset.groupby("order_id")['revenue'].sum()
revenue_per_order.mean()

21.394231188658654